//begin index
.index#index
  .container
    //begin index-banner
    .index__banner.index-banner
      h1.index-banner__title До фІналу
      .index-banner__subtitle
        span з
        img(src="assets/img/volia-logo.png" alt="Воля")
      .index-banner__text
        p Щоб долучитися до акції «Їдьмо на UEFA Champions League Final Istanbul 2020 та UEFA Europa League Final Gdansk 2020 з ВОЛЯ» тобі треба виконати три простих кроки. Готовий? Вперед!

      button.btn.btn--green.popup-open Взяти участь
    //end index-banner

    //begin index__tickets
    .index__tickets
      img(src="assets/img/tickets.png" alt="tickets")
    //end index__tickets


  //begin index__more
  a(href="#second").index__more.scroll-link
    span Дізнатися більше
    .index__more-img
      img(src="assets/img/more.png" alt="picture")
      img(src="assets/img/more-hov.png" alt="picture").index__more-img--hover
  //end index__more
//end index