//begin second
.second#second
  .container
    //begin second__header
    .second__header
      .second__header-title До фіналу
      span з
      img(src="assets/img/volia-logo.png" alt="Воля")
    //end second__header

    //begin second__middle
    .second__middle
      h2.second__title Умови участі
      span.second__date Акція діє з 16.03 по 22.04.2020
    //end second__middle

  //begin second-row
  .second-row
    .container
      .second-row__item
        span.second-row__number 1
        span.second-row__text Підключись до Інтернету та ТБ від ВОЛЯ за акційною ціною 123 грн/міс <br><span>Для нових абонентів</span>

      .second-row__item
        span.second-row__number 2
        span.second-row__text Бери участь та заповнюй анкету реєстрації

      .second-row__item
        span.second-row__number 3
        span.second-row__text Вигравай квитки на фінал <br><a href='agree.pdf' target='_blank'>Детальні умови акції</a>
  //end second-row

  //begin second-btns
  .second-btns
    .container
      a(href="https://volia.com/ukr/bundle/").btn.btn--orange Підключитися
      button.btn.btn--green.popup-open Взяти участь
  //end second-btns

  //begin second-footer
  .second-footer
    .container
      span Фінальний матч Ліги Європи УЄФА відбудеться 27 травня 2020 р. у Гданську, Польша.
      span Фінальний матч Ліги Чемніонів УЄФА відбудеться 30 травня 2020 р. у Стамбулі, Туреччина.
      span <b>Розіграш відбудеться 24 квітня 2020 р.</b>
  //end second-footer


//end second