//begin thnx
.thnx#thnx
  .container
    .thnx__logo
      img(src="assets/img/volia-logo.png" alt="Воля")
    h2.thnx__title Дякуємо за реєстрацію!

    .thnx__footer
      span Дізнайтеся підсумки акції на наших сторінках у соціальних мережах 24.04.20
      .thnx__socials
        a(href="#").thnx__socials--fb
          +svg('fb')
        a(href="#").thnx__socials--inst
          +svg('inst')
        a(href="https://volia.com/ukr/bundle/").thnx__socials--text Volia Hits
//end thnx