*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $din;
  font-size: 16px;
  line-height: 1.38;
  color: $text;

  @include max(1500) {
    font-size: 14px;
  }
  @include max(1350) {
    font-size: 13px;
  }
  @include max(1200) {
    font-size: 12px;
  }
  @include max(1024) {
    font-size: 10px;
  }
  @include max(768) {
    font-size: 8px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 10px 0;
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  font-family: $din;
  color: #ed1c24;
  border-color: #ed1c24 !important;
  &::-webkit-input-placeholder {
    color: #ed1c24;
  }
  &::-moz-placeholder {
    color: #ed1c24;
  }
  &:-ms-input-placeholder {
    color: #ed1c24;
  }
  &:-moz-placeholder {
    color: #ed1c24;
  }
}

svg {
  display: block;
  overflow: visible;
}

.main {
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  font-family: $din-medium;
  font-size: 2.18rem;
  font-weight: 500;
  padding: 1rem 2.18rem;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px !important;
  box-shadow: none;
  min-width: 21.25rem;
}

.btn--green {
  background-color: #33a92c;
  &:hover {
    background-color: darken(#33a92c, 10%);
  }
}

.btn--orange {
  background-color: #f47920;
  &:hover {
    background-color: darken(#f47920, 10%);
  }
}
